[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
scikit-learn = "*"
pandas = "*"
django-cors-headers = "*"
imbalanced-learn = "*"
lightgbm = "*"

[dev-packages]

[requires]
python_version = "3.13"
